<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

	<head>
		<title> {{ .Title }} &middot; {{ .Site.Title }} </title>

		{{ partial "head.html" . }}
	</head>

	<body>
		{{ partial "header.html" . }}
		<div class="container wrapper">
			<div class="row">
				<div class="col-xs-12 text-center">
					<h1 id=>{{ .Title }}</h1>
				</div>
			</div>
			<ul id="post-list">
                	{{ range .Paginator.Pages }}
				<li>
					<div class="post-list-item">
						<div class="post-header">
							<h4 class="post-link"><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
							<h4 class="post-date">{{ .Date.Format "Jan 2, 2006" }}</h4>
						</div>
						<div class="post-summary"><p>{{ .Summary }}</p></div>
						<div class="post-list-footer text-center">
							<a href="{{ .Permalink }}">Read More</a>
						</div>
					</div>
				</li>
			{{ end }}
			</ul>
            {{ partial "pagination" . }}
			<div class="push"></div>
		</div>
		{{ partial "footer.html" . }}
	</body>
</html>
