{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
	<div class="pagination">
		{{ if .Paginator.HasPrev }}
			<a href="{{ .Paginator.Prev.URL }}" class="newer">{{ with .Site.Params.newer}}{{ . }}{{ end }}</a>
		{{ else }}
			<span class="previous">{{ with .Site.Params.newer }}{{ . }}{{ end }}</span>
		{{ end }}

		{{ if .Paginator.HasNext }}
			<a href="{{ .Paginator.Next.URL }}" class="older">{{ with .Site.Params.older}}{{ . }}{{ end }}</a>
		{{ else }}
			<span class="next">{{ with .Site.Params.older}}{{ . }}{{ end }}</span>
		{{ end }}
	</div>
{{ end }}
