<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  <title> {{ .Site.Title }} </title> 
  
  {{ partial "head.html" . }}
    
</head>
<body>
  {{ partial "header.html" . }}

  <section class="user-profile">

	<h1> {{ .Site.Params.SelfName }} </h1>

        {{ with .Site.Params.TwitterID }}
        <a href="https://twitter.com/{{.}}" title="Twitter"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a>
        {{ end }}
        {{ with .Site.Params.GoogleplusID }}
        <a href="https://plus.google.com/{{.}}/about" title="Google+"><i class="fa fa-google-plus fa-3x" aria-hidden="true"></i></a>
        {{ end }}
        {{ with .Site.Params.FacebookID }}
        <a href="https://facebook.com/{{.}}" title="Facebook"><i class="fa fa-facebook fa-3x" aria-hidden="true"></i></a>
        {{ end }}
        {{ with .Site.Params.GithubID }}
        <a href="https://github.com/{{.}}" title="GitHub"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
        {{ end }}
        {{ with .Site.Params.LinkedInID }}
        <a href="http://linkedin.com/in/{{.}}" title="LinkedIn"><i class="fa fa-linkedin fa-3x" aria-hidden="true"></i></a>
        {{ end }}

    <p class="user-motivation">{{ .Site.Params.SelfIntro }}</p>
  </section>

</body>
</html>

