<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
	<head>
		<title> {{ .Site.Title }} </title>

		{{ partial "head.html" . }}

	</head>
	<body>
		{{ partial "header.html" . }}
		<div class="container wrapper">
			{{ with .Site.Params.ProfilePicture }}
			<div class="row">
				<div class="col-sm-3 col-centered">
					<img alt="profile-picture" class="img-responsive img-circle user-picture" src="{{.}}">
				</div>
			</div>
			{{ end }}
			<div class="row">
				<div class="col-xs-12 user-profile text-center">
					<h1 id="user-name">{{ .Site.Params.Name }}</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 user-social text-center">
				{{ partial "social.html" . }}
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-md-offset-4 user-description text-center">
					<p>{{ .Site.Params.About }}</p>
				</div>
			</div>
			<div class="push"></div>
		</div>
		{{ partial "footer.html" . }}
	</body>
</html>
